{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/switch.css">
{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary border-0">
                <div class="card-header bg-transparent">
                    <div class=" text-center">
                        FOTOĞRAF EKLEME
                        <br> <br>
                        <label class="switch">
                            <input type="checkbox" id="cam" onclick="getValue()"/>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5 mt-lg--5">
                    <div>
                        <img id="camera" src="https://via.placeholder.com/500x500" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="mt-2 text-center ">
                        <button type="button" class="btn btn-primary btn-block">Kayıt Yap</button>
                    </div>

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="/login.html" class="text-light"><small>Login</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="/" class="text-light"><small>Dashboard</small></a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>


</script>

{% endblock javascripts %}
